@import url('./fonts.css');

/*main*/
body {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
}
[class*='__container'] {
    width: 1054px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip;
}

/*hero*/
.hero {
    position: relative;
}
.hero__container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}
.hero__header {
}
.hero__logo {
}
.hero__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.hero__content {
}
.hero__title {
}
.hero__label {
}
.hero__button {
}
.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    object-position: center;
}

/*footer*/
.footer {
}