@import url('./fonts.css');

/*main*/
body {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
}
[class*='__container'] {
    width: 1054px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip;
}

/*header*/
.header {
}

/*main*/
.main {
    flex-grow: 1;
}

/*footer*/
.footer {
}