@import url('./fonts.css');
/*components*/

.button {
    border-radius: 4px;
    background-color: #d8ae5e;

    color: #f4f4f4;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: background-color .3s;
}
@media (any-hover: hover) {
    .button:hover {
        background-color: #9a7c43;
    }
}

.header-block {
    text-align: center;
}
.header-block::after {
    content: '';
    width: 120px;
    height: 1px;
    line-height: 1;
    background-color: #d8ae5e;
    margin-top: 32px;
    display: inline-block;
}
.header-block__title {
    font-family: 'Bodoni 72', sans-serif;
    text-transform: uppercase;
    font-size: 64px;
}
.header-block__title:not(:last-child) {
    margin-bottom: 8px;
}
.header-block__text {
    letter-spacing: .8px;
    line-height: 1.2;
    text-transform: uppercase;
}
.header-block__text:not(:last-child) {
    margin-bottom: 5px;
}
@media (max-width: 767.98px) {
    .header-block__title {
        font-size: 46px;
    }
    .header-block::after {
        margin-top: 16px;
    }
    .header-block__text {
        font-size: 14px;
    }
}
/*main*/
body {
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
}
[class*='__container'] {
    max-width: 1054px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
[class*='page__'] {
    padding-block: 64px;
}
@media (max-width: 767.98px) {
    [class*='page__'] {
        padding-block: 32px;
    }
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip;
}

/*hero*/
.hero {
    position: relative;
    color: #fff;
}
.hero::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
}
.hero__container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7.76699svh; /* 64/824 */
    row-gap: 15.533981svh; /* 128/824 */

    position: relative;
    z-index: 2;
}
.hero__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.883495svh; /* 32/824 */
}
.hero__logo {

}
.hero__logo:not(:last-child) {
    margin-bottom: 32px;
}
.hero__menu {
}
.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 5px;
}
.menu__item {
}
.menu__link {
}
@media (any-hover: hover) {
    .menu__link:hover {
        text-decoration: underline;
    }
}
.hero__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.427184svh; /* 20/824 */
}
.hero__title {
    text-transform: uppercase;
    font-family: 'Bodoni 72', sans-serif;
    font-size: 96px;
}
.hero__label {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.hero__button {
}
.hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 767.98px) {
    .hero__title {
        font-size: 66px;
    }
}


/*about*/
.about {
    
}
.about__container {
}
.about__header {
    margin-bottom: 32px;
}
.about__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about__text {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 20px;
}
.about__text:not(:last-child){
    margin-bottom: 32px;
}
.about__text p:not(:last-child){
    margin-bottom: 10px;
}
.about__button {
}
@media (max-width: 767.98px) {
    .about__text {
        font-size: 16px;
    }
    .about__text:not(:last-child){
        margin-bottom: 16px;
    }
    .about__header {
        margin-bottom: 16px;
    }
}

/*activities*/
.activities {
    background-color: #f4f4f4;
}
.activities__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}
.activities__header {

}
.activities__items {
    max-width: 930px;
    margin: 0 auto;
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 128px;
    row-gap: 96px;
}
.activities__item {
    text-align: center;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}
.item-activities {
}
.item-activities__image {
    flex-grow: 1;
}
.item-activities__icon {
    /*flex-grow: 1;*/
    max-width: 100%;
}
.item-activities__icon:not(:last-child) {
    margin-bottom: 16px;
}
.item-activities__label {
    letter-spacing: 1px;
    font-size: 20px;
}
.activities__link {
    padding-bottom: 8px;
    border-bottom: 1px solid #d8ae5e;
    transition: all .3s ease;
}
@media (any-hover: hover) {
    .activities__link:hover {
        border-bottom: 1px solid #000;
    }
}

@media (max-width: 991.98px) {
    .activities__items{
        row-gap: 50px;
        column-gap: 80px;
    }
}
@media (max-width: 767.98px) {
    .activities__items{
        row-gap: 30px;
        column-gap: 50px;
    }
}
@media (max-width: 430px) {
    .activities__items {
        justify-content: flex-start;
        row-gap: 15px;
        column-gap: 20px;
    }
    .activities__item{
        align-items: center;
        column-gap: 10px;
        flex-direction: row;
        flex: 1 1 100%;
    }
    .item-activities__image {
        flex-grow: 0;
    }
    .item-activities__icon {
        margin-right: 15px;
    }
}

/*amenities*/
.amenities {
}
.amenities__container {
}
.amenities__header {
}
.amenities__header:not(:last-child) {
    margin-bottom: 64px;
}
.amenities__sections {
}
.amenities__sections:not(:last-child) {
    margin-bottom: 74px;
}
.amenities__section {
}
.section-amenities {
}
.section-amenities__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    font-size: 24px;
}
.section-amenities__title:not(:last-child) {
    margin-bottom: 32px;
}
.section-amenities__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.section-amenities__item {
    border-radius: 4px;
    overflow: hidden;

    flex-basis: 291px;
}
.section-amenities__item:nth-child(6n + 3) ,
.section-amenities__item:nth-child(6n + 4) {
    aspect-ratio: 408px;
}
.section-amenities__item:nth-child(6n + 3) .section-amenities__link,
.section-amenities__item:nth-child(6n + 4) .section-amenities__link{
    aspect-ratio: 408 / 286;
}
.section-amenities__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    aspect-ratio: 291 / 286;
}
.section-amenities__link:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
}
.section-amenities__label {
    position: relative;
    z-index: 2;
    color:  #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
}
.section-amenities__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/
.footer {
}